<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/recipes/new" <%- title === 'Add Recipe' ? 'class="active"' : '' %>>Add Recipe</a>
        <% if (user) { %>
          <a href="/favourites/index" <%- title === 'Favourties' ? 'class="active"' : '' %>>Favourties</a>
          <a href="/logout">Log out</a>
        <% } else { %>
          <a href="/auth/google" class="login">Log in</a>
        <% } %>

    </nav>
    <main>
        <h1><%= title %></h1>
