<%- include('./partials/header') %>

<div className="homeContainer outerContainer">
    <div className="home-page">
        <div className="pageTitle">Recipe App</div>
    </div>
   <div className="main-content">
    <div className="homeMainImage ">
        <div className="homeMainText">
            <span>Log in to write a review, post your recipes and save your favourites!</span>

        </div>         
    </div>
    </div>
</div>


<%- include('./partials/footer') %>