<%- include('./partials/header') %>

<h1>Welcome to My Recipe App</h1>

<div class="row">
        <div>
            <img src="../public/images/earth.png">
        </div>
        <div>
            Please log in to customise your favourite recipes!
        </div>
</div>


<%- include('./partials/footer') %>