.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-link:hover {
  color: #FFBE98;
  
}

.navbar-nav .nav-item.active .nav-link {
  color: #FFBE98; 
  cursor: default;
  pointer-events: none;
}

.recipeImg {
  width: 200px;
  height: 200px;
}

.recipeImgDetail {
  width: 350px;
}


.recipe {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.recipe a {
  text-decoration: none;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

