.navContainer {
  margin-bottom: 50px;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-link:hover {
  color: #FFBE98;
  
}

.recipeImg {
  width: 200px;
  height: 200px;
}

.recipeImgDetail {
  width: 350px;
}

.recipe {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.recipe a {
  text-decoration: none;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.homeContainer{
  max-height: 100vh;
  overflow-y: hidden;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50 50 0;
}

.homeMainImage {
  background-image: url('../images/earth.png');
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  height: 70vmin;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: flex-end;
  padding: 50px;
}

.homeMainText {
  color: white;
  font-weight: 200;
  padding: 15px;
  background-color: rgba(96, 73, 40, 0.4);
  border-radius: 10px;    
}


@media (min-width: 768px) {
  .homeMainText {
      width: 400px;
      font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  .homeMainText {
      width: 800px;
      font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .homeMainText {
      font-size: 1.8rem;
      width: 800px;
      background-color: none;
  }
}


.homeMainText span {
  display: block;
  margin-bottom: 40px;
}