body {
  padding: 20px;
  max-width: max-content;
  margin: auto;
}

a {
  color: #00B7FF;
}
nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
  background-color: #424748;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.recipeImg {
  width: 200px;
  height: 200px;
}

.recipeImgDetail {
  width: 300px;
}

.recipeTitle {
  font-size: 20px;
  font-weight: 300;
}

.reviewSection {
  margin: 20px 0;
  font-size: 20px;
}

.countrySection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px gray solid;
}

.recipe {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
