<%- include('./partials/header') %>

<form action="/recipes" enctype="multipart/form-data" method="POST">
    <label>Image:</label>
    <input type="file" name="image">

    <label>Title:</label>
    <input type="text" name="title">

    <label>Ingredients:</label>
    <input type="text" name="">

    <label>Instructions:</label>
    <input type="text" name="">

    <label>Country of Origin</label>

    <select name="countryOfOrigin">
        <option value="East Asian">East Asian</option>
        <option value="South Asian">South Asian</option>
        <option value="North Asian">North Asian</option>
        <option value="Central Asian">Central Asian</option>
        <option value="West Asian">West Asian</option>
        <option value="South East Asian">South East Asian</option>
        <option value="European">European</option>
        <option value="North American">North American</option>
        <option value="South American">South American</option>
        <option value="African">African</option>
        <option value="Oceanian">Oceanian</option>
        <option value="Other">Other</option>
    </select>

    <input type="submit" value="Add Recipe">
</form>

<%- include('./partials/footer') %>